body {
  font-family: "Poppins";
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.title {
  display: inline-block;
  font-size: 3em;
  margin-bottom: 20px;
  padding: 10px;
  color: #055364;
  border-radius: 20px;
  background-color: rgba(209, 209, 255, 0.8);
}

.contributors-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  gap: 40px;
}

.contributor-card {
  background-color: #e5e5f8;
  border: 2px solid #101010;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contributor-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.contributor-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.contributor-card h2 {
  font-size: 1.2em;
  margin: 0 0 10px;
}

.contributor-card p {
  color: #040404;
}
