 /* counter */
  .wrapper {
   background-image: url('./img/img1.jpeg');
   /* background: no-repeat fill; */
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  
  }
  .countitem {
    width: 28vmin;
    height: 33vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    font-size: 16px;
    border-width: 0.5px ;
    /* border-color: solid purple; */
    /* border-radius: 0.5em; */
    /* background: linear-gradient(white,rgb(153, 139, 251)); */
    /* border-bottom: 10px solid #40349c; */
  }
  .countitem i {
    color: #052905;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #052905;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    font-weight: bold;
    color: #0f0f0f;
    font-size: 1.5rem;
    text-align: center;
    padding: 0em 00em;
    font-weight: 400;
    margin-bottom: 1em;
    line-height: 0;
  }

  @media screen and (max-width: 1024px) {
    /* .wrapper {
      width: 85vw;
    } */
    .countitem{
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 900px) {
    .wrapper {
      /* width: 90vw; */
      background-image: none;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px; 
    }
    .countitem {
      background-color: antiquewhite;
      width: calc(50% - 40px);
      margin: 3px;
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .countitem {
      width: 90%;
      height: 25vmin;
      font-size: 8px;
    }
  }