/* * {
  box-sizing: border-box;
  /* ADDED BORDER RADIUS IN IMAGE SECTION */
  /*border-radius: 20px;
}

.outer-box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.containers {
  display: flex;
  width: 90vw;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 35px 35px;
  /* border-radius: 20px; */
 /* color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  display: flex;
  flex-direction: column; 
}

.card:hover {
    flex: 3;
}

.card:hover h3, .card:hover p {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.8s;
}

.card:hover .info {
    visibility: visible;
} */

/* .info {
  position: absolute;
  bottom: 20px;
  left: 25%;
  visibility: hidden;
  background: rgba(221, 206, 216, 0.462);
  backdrop-filter:blur(0px);
  width: 500px;
  border-radius: 15px 15px;
}

.card h3 {
  font-size: 24px;
  opacity: 0;
  color: black !important;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-weight: bolder;
  -webkit-text-stroke:1px navy;
}

.card p {
  font-size: 16px;
  opacity: 0;
  color:black !important;
  margin-top: 10px;
  font-weight: 500;
  /* -webkit-text-stroke:0.5px beige; */
/* }

.card.active {
  flex: 3;
}

.card.active h3, .card.active p {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.8s;
}

.card.active .info {
  visibility: visible;
} 

@media (max-width: 1300px) {
  .containers {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .info{
    left: 10%;
  }
  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 12px;
  }
}
@media (max-width: 620px){
  .info{
    width: 200px;
    left: 20px;
  }
}
@media (max-width: 280px){
  .info{
    width: 100px;
    left: 0px;
  }
}
*/

/* Destination Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.section__title {
  margin: 10px;
  padding:4px;
}

.section__subtitle {
  margin-bottom: 10px;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.swiper-button-prev, 
.swiper-button-next {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  padding: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 20px 20px;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: 14px;
}

.swiper-button-next {
  right: 13px;
}

.swiper-button-prev:hover, 
.swiper-button-next:hover {
  background-color: transparent;
  color: #FF5656;
}

/* Card */
.card {
  width: 100%; 
  max-width: 300px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #6A5ACD;
  position: relative;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px solid #6A5ACD;
  transition: transform 0.3s ease;
}

.card-body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.card:hover .card-body {
  opacity: 1;
}

.card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0;
  font-weight: 400;
}

.card-btn {
  color: #FF5656;
  background-color: #ffffff;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.card-btn:hover {
  color: #ffffff;
  background-color: #FF5656;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card.active {
  transform: scale(1.05);
  z-index: 10;
}

.card.active .card-body {
  opacity: 1;
}
