@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
  border-radius: 20px;
}

:root{

  /* Colors */
  --color-primary: #ffd54b;
  --color-text: #545d7a;
  --color-white: #fff;
  --color-title: #242e4c;
  --color-background: #f7f8fb;
  --color-border: #dae1f5;
  
  /* Fonts */
  --font-family: "Satoshi", sans-serif;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.2rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  
  /* Transition & Box Shadow */
  --transition: 0.4s ease-in-out; 
  --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05); 
  
  }
  
  /* html {
      font-size: 62.5%;
  } */
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* box-sizing: content-box; */
  }
  
  body {
      background-color: var(--color-background);
      font-family: var(--font-family);
      color: var(--color-text);
      font-size: var(--fs-md);
      font-weight: var(--fw-regular);
  }
  
  .container{ 
      width: 100% !important;

      margin: auto;
      min-height: 100vh;
      padding: 2rem;
      display: grid;
      place-items: center;

  }
  
  .accordion__wrapper {
      background-color: var(--color-white);
      box-shadow: var(--shadow);
      border-radius:10px;
      width: 100%;
      /* max-width: 60rem; */
      padding: 5rem;
  }
  
  .accordion__title{
      font-size: 25px;
      font-weight:800;
      color: var(--color-title);
      text-align: center;
      margin-bottom: 4rem;
  }
  
  .accordion {
      border-bottom: 0.1rem solid var(--color-border);
      padding-bottom: 2rem;
      margin-bottom: 3rem;
  }
  
  .accordion__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
  } 
  
  .accordion__icon {
      background-color: var(--color-primary);
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: var(--color-white);
      flex-shrink: 0;
  }
  
  .accordion__question{
      font-size: 18px;
      font-weight: 700;
      color: var(--color-title);
      width: 100%;
  }
  
  .accordion__answer{
      padding: 2rem 0;
      font-size: 16px;
  }
  
  .accordion__content{
      overflow: hidden;
      height: 0;
      transition: var(--transition);
  }
  
  @media screen and (min-width: 580px) {
      .accordion__wrapper {
          padding: 5rem 8rem;
      }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  