body {
  font-family: Arial, sans-serif;
  background-color: black;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(88, 87, 87);
}

h2 {
  text-align: center;
  color: #003366; 
  margin-bottom: 20px;
  margin-top: 12px;
}

h3 {
  margin-top: 30px; 
  color: #003366; 
  margin-bottom: 20px; 
}
#bookingProcess,#accuracyInformation,#paymentOptions,#securityMeasures,#customerSupport{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 1.5rem; 
}
p{
  color: #003366; 
}

.form-label {
  font-weight: bold;
  color: #1d3557; 
  margin-bottom: 30px;
}

#navigationEase{
  margin-top: 10px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-top: 10px;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(#003366,#9f4bee);
  color: white;
  display: block; 
  margin: 20px auto 0; 
  text-align: center; 
}

.btn:hover {
  background: linear-gradient(#007bff,#e534bf); 
}

.star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.star.checked {
  color: #f0cd04;
}

#navigationEase, 
#bookingProcess, 
#accuracyInformation, 
#paymentOptions, 
#securityMeasures, 
#customerSupport, 
#overallExperience {
  gap: 5px;
}

#navigationEase-rating-text,
#bookingProcess-rating-text,
#accuracyInformation-rating-text,
#paymentOptions-rating-text,
#securityMeasures-rating-text,
#customerSupport-rating-text,
#overallExperience-rating-text {
  color: #003366; 
  margin-top: 10px; 
}

.col-md-6{
 margin-bottom: 20px;
  position: relative;
  
}
.col-md-6 .icon {
  position: absolute;
  top: 60%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #003366;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-6 input{
  width: 90%;
  padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.text{
  width: 50%;
  display: flex;
  justify-content: center;
}
.last{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.form-check-label{
  width: 2000px;
}
label{
  color: #003366;
}


