/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ae45ff, #ffb45d);
}
.rating-box{
    position: relative;
    background: #b9d372;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0,0 ,0.3);
}
.rating-box header{
    font-size: 23px;
    color: #fefafe;
    font-weight: 500;
    margin-bottom:20px ;
    text-align: center;
}
.rating-box .stars{
    display: flex;
    align-items: center;
    gap: 25px;
}
.stars i{
    color:#97ad5b;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.1s ease;
}
.stars i.active{
    color: #ff9c1a;
}

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  padding: 25px 50px 35px;
  border-style: none;
  position: relative;
  box-sizing: border-box;
  margin-left:80px;
  margin-top: 50px;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2.5rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}