@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  width: 100%;
  margin: 10px 10px;
  padding: 5rem 1rem;
  height: 70vh;
}

.section__container .gallary__container{
  width: 100%;
  margin: 10px 10px;
  padding: 5rem 1rem;
  height: 100vh;

}

/* .section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
} */

/* .section__title {
  width: 100%;
  font-size: 7rem;
  margin-top: 20px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
   text-align: center; /*Center text horizontally */
  /* line-height: 1; Center text vertically */

/* } */ 

/* .section__subtitle {
  font-size:2rem;
  margin-top:200px;
  color: var(--text-dark);
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

} */

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; /* Add padding for better spacing */
}

.section__title {
  margin-bottom: 10px; /* Add some spacing below the title */
  width: 100%;
  font-size: 7rem;
  margin-top: 20px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;

}

.section__subtitle {
  margin-bottom: 10px; /* Add more spacing below the subtitle */
}







.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  margin-right: 5px;
  font-size: 4rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 8rem;
  cursor: pointer;
  transition: 0.3s;
}

#send {
  border-top-right-radius: 5rem; 
  border-bottom-right-radius: 5rem; 
}


.btn:hover {
  background-color: var(--primary-color-dark);
  font-weight: 600;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color:#95d1def9;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  position: fixed; /*Making the navigation bar fixed at the top*/
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 180px;
  /* max-width: var(--max-width); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
  overflow-x: auto; 
}


.nav__logo {
  font-size: 3rem;
  font-weight: 600;
   margin-left: 30px;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__logo span {
  color: var(--primary-color);
}

.nav__logo:hover {
  transform: scale(1.3);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .btn {
  width: 250px;
  height: 120px;
  font-size: 2rem;
  margin-right: 20px;
  border-radius: 20px; 
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  color: var(--extra-light);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}


nav .btn:hover{
  width: 200px;
  height: 120px;
  color: black;
  background-color:#95d1def9;
}

.link a {
  padding: 0 1rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

header {
  background-color: var(--secondary-color);
  
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
  width: 100%;
}

.header__image img {
  position: absolute;
  top:50%;
  left: 40%;
  width: 140%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  width: 130%;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  width: 100%;
  height: 800px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  width: 100%;
}

.header__content > div {
  max-width: 600px;
  display: grid;
  gap: 3rem;
}

.header__content .sub__header {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-color);

}

.header__content h1 {
  font-size: 5rem;
  line-height: 4rem;
  font-weight: 800;
 margin-bottom: 2rem;
  color: var(--text-dark);
  /* margin-top:400px ; */
}



.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: auto;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  margin-right: 50px;
}

.video {
  position: relative;
}

.video img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--extra-light);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story > span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.destination__nav {
  display: flex;
  gap: 1rem;
}

.destination__nav span {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;

    margin: 0 10px; 
  
}

.destination__nav span:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination__card img {
  border-radius: 2rem;
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}

.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.trip {
  background-color: var(--secondary-color);
 
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
 
  
}

.section__container .trip__container{
  margin: 10px 10px;
  padding: 5rem 1rem;
  height: 70vh;
  margin-top: 400px;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  margin: 4rem 4rem;
  height: 40vh;

}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  height: 40vh;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 2s;
}
.trip__card:hover {
  transform:scale(1.1);
  cursor: zoom-in;
}

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book__now {
  padding: 20px 30px;
  font-size: 20px;
  color: var(--primary-color);
  outline: none;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10rem;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.gallary__container {
  margin-left: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallary__col {
  margin-top: 300px;
  display: grid;
  place-content: center;
  gap: 3rem;
  width: 700px;


}

.gallary__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

/* .gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

.gallary__content > div {
  max-width: 400px;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;

} */

.gallary__content {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-left: 800px;
}

.gallary__content .section__title{
  
  margin-bottom: 10px; /* Add some spacing below the title */
  width: 100%;
  font-size: 5rem;
  margin-top: 20px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}


.gallary__content .section__subtitle{
  font-size:4rem;
  margin-top:100px;
  color: var(--text-dark);
  width: 100%;
  align-items: center;
  justify-content: center;
  

}

.gallary__content img {
  max-width: 60%; 
  left-right: 100px;
 }

.gallary__content div {
  max-width: 45%; /* Adjust the width of the text container as needed */
}


element.style {
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.gallary__content .btn {
    bottom: -80px;
    background-color: slateblue;
    color: white;
    border: none;
    padding: 30px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 60px;

}




.btn {
  font-size: 40px;

}

.view__all btn{
  margin-top: 100px;
  
}

/* Media query for better responsiveness on smaller screens */
@media only screen and (max-width: 768px) {
  .gallary__content {
    flex-direction: column;
    text-align: center;
  }

  .gallary__content img,
  .gallary__content div {
    max-width: 100%;
    margin-right: 0; /* Remove margin on smaller screens */
  }
}


.trip-gallery-container{
  width: 100%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.trip-gallery-container img{
  width: 100%;
}



.trip-gallery-container img:hover{
  transform: scale(0.8) rotate(-10deg);
  border-radius: 20px;
  box-shadow: 0 32px 7px rgba(68,77,136,0.2);
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40vh; 
}

/* .subscribe__form { */
  /* margin-top: 40px; Add some spacing between the content and the form */
  /* width: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 10vh;
} */

/* .subscribe__form {
  margin-top: 20px; 
 } */

/* .subscribe__form form {
  max-width: 400px; 
  margin: auto; 
} */
/* 
.subscribe__form input {
  width: 100%; 
  padding: 10px;
  margin: 20px 0; */
  /* font-size: 48px; Adjust the font size as needed */
/* } */

/* Style the button */
/* .subscribe__form button {
  background-color: slateblue;
  color: white;
  border: none;
  padding: 40px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;

} */




.section__subtitle{
  justify-content: center;
  margin: auto;
  align-items: center;
  font-size: 60px;

}

/* Style the input and button */
.subscribe__form input,
.subscribe__form button {
  padding: 10px;
  margin: 5px;
}

/* Optional: Add more styling based on your design preferences */


 .subscribe {
  background-color: var(--secondary-color);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
} 


.subscribe__form input {
  width: 100%;
  padding: 3rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}

.footer {
  width: 100%;
  background-color: var(--text-dark);
  margin-bottom: 0;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
  height: 25vh;
}

.footer__col h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-size:30px;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 800;
  font-size:30px;
}

.footer__col h4 {
  font-size:30px;
  font-weight: 800;
  margin-bottom: 4rem;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
  font-size:30px;
}




.col-lg-4{
  justify-content: space-around;
}

.left img{
  display: flex;
  width: 50%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#goToTopBtn{
  align-items: center;
  margin: auto;
  font-size: 20px;
}




