@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --text-light: #767268;
  --extra-light: #ffffff;
  --foot-light:#0d213f;
        --arr-light:#3685fb;
        --body-light:#ffffff;
        --secondary-color: #fafcff; 
        --text-dark: #0d213f; 
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-theme{
  --secondary-color: black;
  --text-dark: #ffffff;
  --arr-light:white;
  --body-light:black;
}
#toggle{
  display: inline-block;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  padding: 10px 10px;
  background-color: transparent;
  border: 2px solid #c6c9d8bf;
  color: #c6c9d8bf;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
}
#toggle:hover {
  background-color: #ff0000; 
  border-color: #ff0000;
  /* color: #fff; */
}
#toggle:hover {
  filter: brightness(1.5);
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
  text-align: left;
}

.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
  text-align: right;
}

.section__header .section__subtitle{
  text-align: left;
}
.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

#send {
  border-top-right-radius: 5rem; 
  border-bottom-right-radius: 5rem; 
}


.btn:hover {
  background-color: var(--primary-color-dark);
  font-weight: 600;
}

/* ensures no box or shadow for the video button */
.btn_video {
  background: none;       
  color: inherit;         
  border: none;           
  padding: 0;            
  margin: 0;              
  font: inherit;          
  cursor: pointer;        
  outline: inherit;       
  box-shadow: none;       
  text-align: inherit;    
  display: inline;        
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #091020;
  padding:1rem; /* Adjusted padding for top and bottom */
  position: fixed; /* Making the navigation bar fixed at the top */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
}

.nav__logo {
  font-size: 1.8rem; /* Increased font size for the logo */
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  padding-left: 20px;
}

.nav__logo span {
  color: #3685fb; /* Assuming this is your primary color */
}
.nav__logo:hover {
  transform: scale(1.3);
}
.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem; /* Increased gap between links */
  font-size: 1.2rem; /* Increased font size for the links */  
}

.link a {
  padding: 0.5rem 1rem; /* Adjusted padding for links */
  color: #ffffff;
  transition: 0.3s;
}
.link a:hover {
  color: #ff0000;
  font-weight: 600;
}

header {
  background-color: var(--secondary-color);
}


.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
}

.header__image {
  position: relative;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
  text-align: right;
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.video {
  position: relative;
}

.video img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--extra-light);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

/* added video player tag to display at 80% */
.sized-video {
  width: 960px;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.story > span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.destination__nav {
  display: flex;
  gap: 1rem;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination__card img {
  border-radius: 1rem;
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}

.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.trip {
  background-color: var(--secondary-color);
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 2s;
}
.trip__card:hover {
  transform:scale(1.1);
  cursor: zoom-in;
}

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book__now {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.gallary__container {
  display: flex;
  background-color: var(--secondary-color);

}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 480px;
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content > div {
  max-width: 400px;
}

.gallary__content h2{
  text-align: right;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;
  text-align: right;
}

.trip-gallery-container{
  width: 100%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.trip-gallery-container img{
  width: 100%;
}

.trip-gallery-container img:hover{
  transform: scale(0.8) rotate(-10deg);
  border-radius: 20px;
  box-shadow: 0 32px 7px rgba(68,77,136,0.2);
}


.subscribe {
  background-color: var(--secondary-color);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.subscribe__container .subscribe__content .section__title{
  text-align: left;
}
.subscribe__container .subscribe__content .section__subtitle{
  text-align: left;
}
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  background-color: var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.subscribe__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}

.footer {
  width: 100%;
  background-color: #091020;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  /*grid-template-columns: repeat(3, 1fr);*/
  gap: 24px;
  color: var(--secondary-color);
}

.footer__col{
  flex: 1;
  max-width: 200px;
  margin: 10px;
  text-align: center;
  flex-direction: column;
}

.footer__col:nth-child(2) {
  margin-top: 10px; 
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p {
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: #ff0000;
  font-size: 15px;
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
/*   color: var(--secondary-color); */
    color: var(--extra-light);
  border-top: 1px solid var(--text-light);
}

@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width>1400px){
  #toggle{
    margin-right: -5%;
  }
  
}

@media (width>1550px){
  #toggle{
    margin-right: -8%;
  }
  
}

/* Enhance the responsiveness of gap between Dark Theme button and Contact Us buttons of navbar.  */

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    min-height: 500px;
  }

  .destination__grid {
    gap: 1rem;
  }

  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* doing changes */
.top-btn {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  right: 0px;
  background-color: #ab45e7;
  color: #fff;
  padding: 2px;
  border: none;
  margin-right: 27px;
  border-radius: 50%;
  cursor: pointer;
}

.top-btn:hover {
  background-color: #0056b3;
}
.top-btn {
  display: inline-block;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid #c6c9d8bf;
  color: #c6c9d8bf;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  position: fixed;
  text-decoration: none;
  cursor: pointer;

}

.top-btn:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}

/*contact section overlapping with nav fixed*/
#contact{
  margin-top: 30px;
  padding-top: 100px;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form .right {
  flex: 1;
  padding-left: 20px;
}

.right .form-control {
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
  }

  .contact-form .right {
    padding-left: 0;
    margin-top: 10px; /* Adjust as needed */
  }
}
/* Custom scrollbar for WebKit browsers */
body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

body::-webkit-scrollbar-track {
  background-color: var(--extra-light); /* Color of the scrollbar track */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-dark); /* Color of the thumb on hover */
}

/* Custom scrollbar for Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--extra-light);
}

body:hover {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-dark) var(--extra-light);
}

.sub__header:hover{
  background-color: transparent;
  color: var(--primary-color);
  
}



/* Light mode  And Dark mode of AboutUs*/

.headingofAbout {
  font-weight: bolder;  /* Set font weight to bolder */
  text-align: center;
  color: var(--text-dark);  /* Use the text-dark custom property for color */
}
/* Styling for elements with .aboutcon class */
.aboutcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  background-color:var(--body-light); /* Use the text-dark custom property for color */
}
/* Styling for elements with .aboutcontent class */
.aboutcontent {
  text-align: center;
  color: var(--text-dark);  /* Use the text-dark custom property for color */
  margin-bottom: 20px;
}
/* Styling for SVG elements inside .iconss class */
.iconss svg {
  width: 100px; 
  height: 90px; 
  fill: none;
  stroke-width: 2;
  align-items: end;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  box-shadow: 10px 70px 50px -1px rgba(176, 69, 137, 0.19);
  background-color: transparent;
  border-radius: 20px;
}
/* Styling for elements with .iconss class */
.iconss{
  color:var(--foot-light);  /* Use the text-dark custom property for color */
}
/* Hover effect for SVG elements inside .iconss class */
.iconss:hover svg {
  stroke: #D51459;
}
/* Styling for h3 elements inside .aboutcontent class */
.aboutcontent h3 {
  font-size: 1.5rem; 
  margin-top: 10px;
}
/* Styling for p elements inside .iconss class */

.iconss p {
  font-size: 1rem; 
  color: var(--foot-light); /* Use the text-dark custom property for color */
  font-style: oblique;
}
/* Styling for elements with .box1 class */
.box1 {
  height: 175px;
  align-items: right;
  width: 500px;
  background-color: #d1f1f4;
  align-items: center;
  align-content: center;
  border: 0.5px solid;
  border-color: var(--text-dark); /* Use the text-dark custom property for color */
  
  border-radius: 21px;
  display: flex;
  margin-left: 30px;
  margin-bottom: 10px;
  justify-content: center;
}

.color {
  background-color: #B2bfed;  /* Use the text-dark custom property for color */
}
/* Styling of AboutUs ended here */











body{
  background-color:#eee;
  margin-top:20px;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #6c6ff5;
}
.nav-tabs-custom .nav-item .nav-link {
  border: none;
}
.text-muted {
  color: #8ca3bd!important;
}
.nav-tabs-custom .nav-item {
  position: relative;
  color: #271050;
}
.nav-tabs-custom .nav-item .nav-link.active:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-tabs-custom .nav-item .nav-link::after {
  content: "";
  background: #6c6ff5;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Testimonials Section */

.testimonial-heading{
  text-align: center;
  margin-bottom: 50px;
  color: #3685fb;
  font-weight: 600;
}

.testimonial-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.testimonial-user{
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: center;
  background: #efefef;
  height: 400px;
  width: 350px;
  max-width: 90%;
  margin-top: 50px;
  padding: 0 20px 20px 20px;
  box-shadow: 0 0 27px 0 rgb(0 0 0 / 5%);
}
.testimonial-user > div{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.testi-img{
  width: 120px;
  height: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  transform: translate(0, -50%);
  box-shadow: 0 0 0 10px #fff;
}

.fa-quote-left, .fa-quote-right{
  font-size: 16px;
  color: #3685fb;
  padding: .5rem;
}

.user-info h3{
  color: #3685fb;
  font-size: 18px;
  font-weight: 600;

}



