body {
  font-family: 'Lato', sans-serif;
  background-color: #0e1525;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.logo {
  width: 130px;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 20px;
}

.container.terms-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #0e1525;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3.5em;
  color: #2d7dff;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2em;
  color: #0dcaf0;
  margin-top: 20px;
}

.content p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #f0f0f0;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .title {
      font-size: 2em;
  }

  .section-title {
      font-size: 1.5em;
  }

  .content p {
      font-size: 1em;
  }
}

