/* Reset and General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
}

main {
    padding: 20px;
    margin: auto;
    max-width: 1200px; /* Increased maximum width */
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

section:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

#posts .post {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid #4CAF50;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#posts .post:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#posts .post h3 {
    margin-top: 0;
}

#posts .post .date {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#posts .post .post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#posts .post .post-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px; /* Adjusted max-width for contact form */
    margin: auto;
}

#contact-form label {
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: calc(100% - 22px); /* Adjusted input width */
}

#contact-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px; /* Adjusted max-width for button */
    margin: auto; /* Center button */
}

#contact-form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
